.users__user
  margin: 8px 0

.users__user-link
  display: block
  &:hover
    text-decoration: none
    background: #dddddd

.users__user-panel
  display: table

.users__user-icon
  display: table-cell
  vertical-align: middle
  float: left
  width: 60px
  height: 60px
  border-radius: 50%

.users__info
  display: table-cell
  vertical-align: middle
  padding-left: 10px

.users__user-name
  font-size: 20px
  color: #333333

.users__stamp-count
  font-size: 20px
  color: #333333

.users__stamp-count-unit
  font-size: 16px

.users__stamp-pressed
  color: red
  font-size: 16px
