- if user_signed_in?
  - if current_user.trainee?
    = render 'home/trainee_home'
  - else
    = render 'users/users'
- else
  %h1.page-header sgStampRally
  .text-center
    = link_to 'Remottyアカウントでログイン', signin_path, class: 'btn btn-lg btn-primary'

- if !user_signed_in? && Rails.env.development?
  = render 'home/debug_login'
